@import "animation.css";
@import "opacity.css";
@import url('./main-layout.css');
@import url('./views/e-v-statistics-view.css');

html {
    --fullscreen-height: 100%;
    --fullscreen-height-charging: calc(100vh - 4.5rem);
}

/* iOS specific height setting */
@supports (-webkit-touch-callout: none) {
    html {
        --fullscreen-height: calc(100% - 6.5rem);
        --fullscreen-height-charging: calc(100vh + 15rem);
    }

    /* iOS PWA specific CSS */
    @media (display-mode: standalone) {
        html {
            --fullscreen-height: calc(100vh - 5rem);
            --fullscreen-height-charging: calc(100vh + 8rem);
        }
    }
}

vaadin-app-layout::part(drawer) {
    width: 240px;
}
